html{
	background-color: #fde1ec;
}

body{
	max-width: 800px;
	padding: 20px 20px;
	margin: 0 auto;
}

img{
	padding: 10px 10px 10px 10px;
	display: block;
	margin: 0 auto;
	width: 90%;
	max-width: 600px;
}

.inline{
	float: left;
	padding-top: 40px;
	padding-right: 20px;
    width: 30%;
}

.gallery{
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: white;
	margin: 0 auto;
	width: 95%;
	max-width: 650px;
}

.menu{
	word-spacing: 20px;
	text-align: center;
	font-weight: bold;
}

p {
	font-size: 16px;
	font-family: "Comic Neue", cursive;
	line-height: 1.5em;
	color: #553a45;
}

a{
	color: #75354f;
	font-family: "Comic Neue", cursive;
}

h1{
	font-size: 20px;
	font-family: "Comic Neue", cursive;
	text-align: center;
}